# Database
DATABASE_URL="postgresql://username:password@localhost:5432/money_tracker"

# Authentication
SECRET_COOKIE_PASSWORD="your-secret-cookie-password-must-be-at-least-32-characters-long"

# Next.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret"